<!-- gabarit qui sert de basze pour le reste des autres templates-->
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Accueil{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{% url 'Account:home' %}">Accueil</a></li>
        </ul>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      <p>DoctolibApp © 2025</p>
    </footer>
  </body>
</html>
